<header>
  <nav class="navigation">
    <ul class="navigation__list">
      <li class="navigation__list--item">
        <a href=""><i class="fas fa-chevron-left"></i></a>
      </li>
      <li class="navigation__list--item">
        <p>Panel de puntos</p>
      </li>
      <li class="navigation__list--item">
        <a href=""><i class="fas fa-cog"></i></a>
      </li>
    </ul>
  </nav>
</header>

<main>
  <section class="exchange-section">
    <h1 class="exchange-section__title">Dispones de
      <span class="exchange-section__title--points">{{pointCard.points}}</span>
      puntos
    </h1>
    <carousel [showIndicators]="false">
      <slide *ngFor='let pointCardDetail of pointCard.pointsCard'>
        <div class="carousel__card-wrapper">
          <div class=" carousel__card">
            <p class="carousel__card--title">{{pointCardDetail.name}}</p>
            <div class="carousel__image-container">
              <img class="carousel__image" src="{{pointCardDetail.image}}" />
            </div>
            <p>{{pointCardDetail.points}} puntos</p>
            <div class="carousel__progress">
              <progressbar type="info" [value]="pointCardDetail.points"></progressbar>
            </div>
          </div>
        </div>
      </slide>
    </carousel>
    <div class="button--disabled">
      <a href="#">
        Canjear puntos
      </a>
    </div>
    <div class="button">
      <a href="#">
        Asignar puntos
      </a>
    </div>
  </section>
</main>

<footer class="footer">
  <a href="#">VER TÉRMINOS</a>
</footer>

<router-outlet></router-outlet>